
.icon-graph:before { content: '\e800'; } /* '' */
.icon-grid:before { content: '\e801'; } /* '' */
.icon-list:before { content: '\e802'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */