#chart {
    width: 750px;
    height: 750px;
}

.node {
    cursor: pointer;
}

.node:hover {
    stroke: #000;
    stroke-width: 1.5px;
}

.node--leaf {
    fill: white;
}

.label {
    font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root {
    pointer-events: none;
}

.packed-circles-left {
    width: 50%;
    float: left;
}

.packed-circles-view {
    width: 100%;
}

.packed-circles-view td {
    width: 50%;
    padding: 0 5px;
    vertical-align: top;
}

.packed-circles-view tr td:first-child {
    padding-left: 0;
}

.packed-circles-view tr td:last-child {
    padding-right: 0;
}

.App {
    padding: 10px;
}

.syntax-highlight {
    max-height: 750px;
    max-width: 50vw;
    overflow: scroll;
}

#graph-chart canvas {
    min-height: 500px;
    max-width: 80%;
    margin: 0 auto;
    background: #eeeeee;
}

.clone-file-details {
    cursor: pointer;
}

.clone-file-details:hover {
    opacity: 0.5;
}

